<p>
<p>
  <strong>TimeRecord agregado</strong>
</p>


<p>
  <strong>Fecha:</strong>
  <%= @timeRecord.date %>
</p>

<p>
  <strong>Total Hs:</strong>
  <%= @timeRecord.total_hs %>
</p>
<p>
  <strong>Precio hs:</strong>
  <%= @timeRecord.price_hs %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @timeRecord.employee_id%>
</p>
<p>
  <strong>Categoria:</strong>
  <%= @timeRecord.category_id%>
</p>